*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    row-gap: 1rem;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.backbtfig{
    position: absolute;
    width: 748px;
    height: 55px;
    left: 0;
    top: 0;
    background: #4DC1E5;
    transform: matrix(0.15,0,-1,1,-345,-15);
    z-index: 1;
}
.backbutton{
    position: absolute;
    text-decoration: none;
    font-family: 'Gruppo';
    font-style: normal;
    text-align: center;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    color: #000000;
    z-index: 2;
}
.backbutton:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 100%;
    height: 266px;
    left: 0px;
    top: 28px;
}
.nameimg{
    width: 868px;
    height: 90px;
    background: url(imgs/Name.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.desc{
    width: 100%;
    height: 49px;
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 100%;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}