body{
    margin: 0;
    padding: 0;
    background: url(logo.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.accountbox{
    width: 320px;
    height: auto;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 49%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: content-box;
    padding: 0px 30px;
    margin: 1rem;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

.b{
    display: inline;
    margin-bottom: 2rem;
}

.logo{
    margin: 2px;
    object-fit: scale-down;
    height: 10%;
    width: 12%;
}

.about{
    width: 320px;
    height: 70%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 15%;
    left: 15%;
    position: absolute;
    transform: translate(-5%,-5%);
    box-sizing: content-box;
    padding: 0px 30px;
    border-radius: 20px;
    justify-content: center;
}

.contenedor{
    width: 15rem;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 35%;
    right: 20%;
}

.botonesprincipales{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    gap: 1rem; 
}

.nav-gl { 
    border-radius: 1rem;
    width: 90%;
    background-color: rgb(44, 125, 216);
    padding: 1rem;
    text-align: center;
    font-size: 120%;
}
.nav-gl a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.abouttext{
    display: inline;
    justify-content: right;
    font-size: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text{
    font-size: 1110%;
}

.hktitle{
    font-size: 180%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.accountbox img{
    height: 8%;
    align-self: left;
}

.accountbox b{
    display: inline-block;
    padding: 2px;
    justify-content: space-between;
    margin-top: 10px;
}
.accountbox h1{
    display: inline;
    border: 1rem;
}

.accountbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.accountbox input{
    width: 100%;
    margin-bottom: 20px;
}

.accountbox input[type="text"],[type="number"],[type="password"],[type="email"]{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 50px;
}

.accountbox input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: rgb(0, 140, 255);
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
}

.accountbox input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(52, 159, 209);
    color: rgb(0, 0, 0);
}

.back{
    top: 1.5%;
    left: 0.5%;
    position: absolute;
    border: none;
    outline: none;
    height: 30px;
    padding: 0.3rem;
    background: rgb(0, 140, 255);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.back:hover{
    cursor: pointer;
    background: rgb(52, 159, 209);
    color: rgb(0, 0, 0);
}

.bcc{
    top: 1.5%;
    left: 0.5%;
    position: absolute;
    border: none;
    outline: none;
    height: 35px;
    padding: 0.3rem;
    background: rgb(0, 140, 255);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.bcc:hover{
    cursor: pointer;
    background: rgb(52, 159, 209);
    color: rgb(0, 0, 0);
}

.bises{
    top: 10%;
    left: 0.5%;
    position: absolute;
    border: none;
    outline: none;
    height: 35px;
    padding: 0.3rem;
    background: rgb(0, 140, 255);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.bises:hover{
    cursor: pointer;
    background: rgb(52, 159, 209);
    color: rgb(0, 0, 0);
}