*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    row-gap: 1rem;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.backbtfig{
    position: absolute;
    width: 748px;
    height: 55px;
    left: 0;
    top: 0;
    background: #4DC1E5;
    transform: matrix(0.15,0,-1,1,-345,-15);
    z-index: 1;
}
.backbutton{
    position: absolute;
    text-decoration: none;
    font-family: 'Gruppo';
    font-style: normal;
    text-align: center;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    color: #000000;
    z-index: 2;
}
.backbutton:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 100%;
    height: 239px;
    left: 0px;
    top: 34px;
}
.nameimg{
    width: 868px;
    height: 90px;
    background: url(imgs/Name.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 641px;
    height: 102px;
}
.substitle{
    width: 548px;
    height: 46px;
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}
.subssubstitle{
    width: 641px;
    height: 31px; 
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    text-align: center;  
    color: #000000;
}
.subscont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 165px;
    width: 100%;
    height: 722px;
    left: 0px;
    top: 302px;
}
.title{
    left: 3.31%;
    right: 3.31%;
    top: 2.65%;
    bottom: 84.78%;
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}
.items{
    left: 6.25%;
    right: 6.62%;
    top: 56.28%;
    bottom: 34.69%;
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.bttn{
    margin: 1rem;
    text-decoration: none;
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    left: 12.87%;
    right: 8.82%;
    top: 86.55%;
    bottom: 5.49%;
    padding: 1rem;
    background: #01ECFB;
    border-radius: 10px;
}
.freecont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 272px;
    height: 565px;    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F5F5F5;
    border: 18px solid #00E0FF;
}
.standardcont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 272px;
    height: 565px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F5F5F5;
    border: 18px solid #0066FF;
}
.premiumcont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 272px;
    height: 565px;    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F5F5F5;
    border: 18px solid #6100FF;
}