:root {
  --colorC0: #f5f5f5;
  --colorC1: #caf0f8;
  --colorC2: #90e0ef;
  --colorO1: #4e87bd;
  --colorO2: #4d4d4d;
  --colorO3: #91ccf3;
  --colorO4: #d8d8d8;
  --colorpinfo: #1e3ada;
}

/* :root {
  --colorC0: #f5f5f5;
  --colorC1: #f7d716;
  --colorC2: #90e0ef;
  --colorO1: #f24c4c;
  --colorO2: #293462;
  --colorO3: #ec9b3b;
  --colorO4: #494e52;
}
 */
