<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Health & Knowledge</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/about.css"/>
  <link rel="icon" href="static/img/icon.png"/>
</head>
<div style="height:0px; clear:both;"></div>
<body>
  <!--Back button-->
  <figure class="backbtfig"></figure>
  <a class="backbutton" href="/">←</a>
  <!--main body-->
  <div class="header">
    <p class="nameimg" title="img"></p>
  </div>
  <div class="aboutpage">
    <p class="abtitle"><b>About this page:</b></p>
    <p class="abdesc">This webside was created with the goal of providing awareness about the most important diseases around the world, like the common flu or the recent Covid-19.</p>
  </div>
  <div class="aboutuscont">
    <div class="abouttxtcont">
      <p class="aboutustitle"><b>About us:</b></p>
      <p class="aboutustxt">This page was created by: 
        David Tache Ardila
        Silvana Chain Marulanda
        Daniel Díaz Mejía</p>
    </div>
    <p class="UNimg" title="img"></p>
  </div>
  <div class="logoscont">
    <h1 class="logostitle"><b>This page was created using:</b></h1>
    <div class="logos">
      <p class="flasklogo" title="img"></p>
      <p class="htmllogo" title="img"></p>
      <p class="pylogo" title="img"></p>
    </div>
  </div>
</body>
</html>
