<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health & Knowledge</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/chat.css" />
    <link rel="icon" href="static/img/icon.png"/>
</head>
<div style="height:0px; clear:both;"></div>
<body>
    <!--back button-->
    <figure class="backbtfig"></figure>
    <a class="backbutton" href="/lobby">←</a>
    <!--header-->
    <div class="header">
        <p class="nameimg"></p>
        <p class="desc"><b>Chat Bot</b></p>
        <p class="desc">Talk with our bot to search info or make an appointment.</p>
    </div>
    <div class="chatcont">
        <button class="chatbox__button">Start Chat</button>
        <div class="chat">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="message here...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='chatbot_archives/chatbot.js') }}"></script>

</body>
</html>
