<link rel="stylesheet" href="static/css/body.css">

<a class = "back" href="/"> Back </a>

<div class = "accountbox">
    <div class = "b">
      <h1>Log In</h1>
      <img class = "logo" src="static/img/logo2.png" alt="logo">
    </div>
    <form action="/pprin">
      <p>E-mail</p>
      <input type="email" name="" placeholder="Enter E-mail">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input type="submit" name="" value="Log in">
    </form>
  </div>
