<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health & Knowledge</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/lobby.css" />
    <link rel="icon" href="static/img/icon.png"/>
</head>
<div style="height:0px; clear:both;"></div>
<body>
    <!--back button-->
    <figure class="backbtfig"></figure>
    <a class="backbutton" href="/">←</a>
    <!--header-->
    <div class="header">
        <p class="nameimg"></p>
        <p class="desc">Logged as: {{Nickname}}</p>
        <p class="desc">Welcome to the lobby, please choose an option:</p>
    </div>
    <!--options-->
    <div class="optionscont">
        <div class="graphoptcont">
            <a class="graphoptimg" title="img" href="/graphs"></a>
            <p class="graphopttitle">Graphs</p>
        </div>
        <div class="newsoptcont">
            <a class="newsoptimg" title="img" href="/News"></a>
            <p class="newsopttitle">News</p>
        </div>
        <div class="chatoptcont">
            <a class="chatoptimg" title="img" href="/chat"></a>
            <p class="chatopttitle">Chat</p>
        </div>
    </div>
</body>
</html>