<link rel="stylesheet" href="static/css/body.css">
<link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
<link rel="icon" href="static/img/icon.png"/>

<a class = "back" href="/"> ← </a>

<div class = "accountbox">
    <div class = "b">
      <h1>Log In</h1>
      <img class = "logo" src="static/img/Logo1.png" alt="logo">
    </div>
    <form action="/pprin">
      <p>E-mail</p>
      <input type="email" name="" placeholder="Enter E-mail">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input type="submit" href="/pprin" name="" value="Log in">
    </form>
    <br>
    <p>No account?, no problem!</p> <a class="clcbttn" href="/singup">Click here!</a>
  </div>
