<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Health & Knowledge</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/news.css" />
    <link rel="icon" href="static/img/icon.png"/>
</head>
<div style="height:0px; clear:both;"></div>
<body>
    <!--back button-->
    <figure class="backbtfig"></figure>
    <a class="backbutton" href="/lobby">←</a>
    <!--header-->
    <div class="header">
        <p class="nameimg"></p>
        <p class="desc">UNDER CONSTRUCTION...</p>
        <p class="desc">Option will be available soon..</p>
    </div>
</body>
</html>
