<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Health & Knowledge</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/body.css"/>
  <link rel="icon" href="static/img/icon.png"/>
</head>
<!--back button-->
<figure class="backbtfig"></figure>
<a class = "back" href="/"> ← </a>

<div class = "accountbox">
    <div class = "b">
      <h1>Create Account</h1>
      <p class="logo" alt="logo"></p>
    </div>
    <form action="/lobby">
      <p>Name</p>
      <input type="text" name="" placeholder="Enter Username">
      <p>Last name</p>
      <input type="text" name="" placeholder="Enter Last name">
      <p>Age</p>
      <input type="number" name="" placeholder="Enter Age">
      <p>E-mail</p>
      <input type="email" name="" placeholder="Enter E-mail">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <p>Address</p>
      <input type="text" name="" placeholder="Enter a valid Address">
      <input type="submit"  name="" value="sign up">
      <br>
      <br>
      <p>Have an account yet?</p> <a class="clcbttn" href="/login">Click here!</a>
    </form>
  </div>
  </html>