<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Health & Knowledge</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/css/subs.css"/>
  <link rel="icon" href="static/img/icon.png"/>
</head>
<div style="height:0px; clear:both;"></div>
<body>
    <!--Back button-->
    <figure class="backbtfig"></figure>
    <a class="backbutton" href="/">←</a>
    <!--header-->
    <div class="header">
        <p class="nameimg"></p>
        <div class="desc">
            <p class="substitle">Subscriptions availables</p>
            <p class="subssubstitle">Please select what membership do you wish</p>
        </div>
    </div>
    <!--Mains subs-->
    <div class="subscont">
        <div class="freecont">
            <p class="title">Free membership</p>
            <p class="items">Look and customize graphs</p>
            <a class="bttn" href="/singup">Continue now</a>
        </div>
        <div class="standardcont">
            <p class="title">Standard membership</p>
            <p class="items">Look and customize graphs</p>
            <p class="items">Access to a news page</p>
            <a class="bttn" href="/singup">$15/Month</a>
        </div>
        <div class="premiumcont">
            <p class="title">Premium membership</p>
            <p class="items">Look and customize graphs</p>
            <p class="items">Access to a news page</p>
            <p class="items">Real time Chat with a specialist</p>
            <a class="bttn" href="/singup">$30/Month</a>
        </div>
    </div>
</body>
</html>